

.Laptop_Slider {
    grid-area: var(--laptop-slider);
    margin-top: 2rem;
    justify-self: center;
}


.laptop{
    width: 20%;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.Price_Box{
    padding: 5px;
    margin-top: 2rem;
    background-color: var(--light-grey);
    width: 400px;
    height: 251px;
    border: 1px solid var(--dark-grey);
    list-style: none;
}

.box_sold{
    background-color: white;
    color: grey;
    padding: 20px;
    margin-bottom: 1px;
}

.box_sold span{
    color: black;
    font-weight: 600;
    
}

.box_list{
    list-style: none;
    background-color: white;
    padding: 15px;
}



/* Order Box */
.Laptop_Order_Container{
    background-color: white;
    margin-top: 1px;
    padding: 10px;
}

.Laptop_Cart_Box {
    grid-area: var(--laptop-pricebox);
    justify-self: center;
}

.Laptop_Order_Purchase_Button{
    background-color: var(--blue);
    background-image: var(--blue-gradient);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;   
    cursor: pointer; 
}

.Laptop_Order_Purchase_Button:hover{
    background-color: var(--dark-blue);
    background-image: var(--blue-reverse-gradient);
}

.Laptop_Purchase_Button a{
    text-decoration: none;
}

.Laptop_Purchase_Original{
    font-size: 1rem;
}

.Laptop_Purchase_Original span{
    font-size: 1rem;
    text-decoration: line-through;
}

.Laptop_Purchase_Savings{
    width: 40%;
    margin: .3rem 0;
    font-size: 1rem;
    padding: 5px;
    color: white;
    background-color: red;
    font-weight: 600;
}

.Laptop_Purchase_Price{
    align-self: center;
    font-size: 1.3rem;
}

/* Tabs */
.Laptop_Tabs {
    grid-area: var(--laptop-tabs);
    display: flex;
    justify-self: center;
}

.Laptop_Labels {
    grid-area: var(--laptop-labels);
    width: 300px;
    justify-self: center;
    margin-top: 2rem;
}

/* ETC */
.row{
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: space-around;
}