.NavigationItem {
    padding: 0;
    list-style-type: none;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.NavigationItem a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 1.16rem;
}

.NavigationItem:hover {
    
}