.NavigationItem {
    padding: 0;
    list-style-type: none;
    margin: 0 1px;
    border-top: 2px solid transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.NavigationItem a {
    text-decoration: none;
    padding: 1.40rem;
}
