.Searchbar form {
    display: flex;
}

.Searchbar form input[type=text] {
    width: 60rem;   
    height: 36px;
    padding: 5px;
    border: none;
    border-radius: 0;
}

.Searchbar form input:focus {
    color: var(--dark-grey);
    border: none;
}

.Searchbar form button {
    all: unset;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

