.Searchbar form {
    display: flex;
}

.Searchbar form input {
    height: 35px;
    width: 50rem;   
    margin: 0;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.Searchbar form input:focus {
    color: var(--dark-grey);
}

.Searchbar form button {
    width: 50px;
    margin-top: -.8px;
    border: none;
    background: var(--dark-blue);
    text-align: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
