.Toolbar_Container {
    grid-area: var(--grid-header);
}

.Toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    background-color: var(--header);
    top: 0px;
    height: 60px;
}