.Toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    background-color: #1d2732;
    top: 0px;
    height: 70px;
    border-bottom: 1px solid #000;
}