/* GRID AREA */

.Purchase_Area_A {
    grid-area: a;
}

.Purchase_Area_B {
    grid-area: b;
}

.Purchase_Area_C {
    grid-area: c;
    width: 200px;
}

.Purchase_Area_D {
    grid-area: var(--grid-cards);
    margin: 1rem;
}

.Purchase_Area_E {
    grid-area: var(--grid-breadcrumbs);
}

/* Purchase */

.Purchase_Form {
    background-color: var(--blue);
}
