.center{
    margin: 0 auto;
}

.SignupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    border-radius: 15px;
    color: white;
}

.SignUp form input {
    display: inline-block;
    margin: 0 auto;
    width: 25rem;   
    height: 35px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;

}

.SignUp form input:focus {
    color: var(--dark-grey);
}

.SignUp form button {
    width: 100px;
    height: 35px;
    border: none;
    background: var(--dark-blue);
    text-align: center;
    color:white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.Signup_CTA {
    margin-bottom: .5rem;
}