.Footer {
    grid-area: var(--grid-footer);
    background-color: var(--footer-bg);
}

.Footer_Bottom_Links {
    display: flex;
    justify-content: space-between;
}

.Box {
    display: flex;
    justify-content: flex-end;
    padding: 30px 40px;
}

.Box ul {
    display: inline-block;
}

.Box ul li {
    list-style: none;
    color: white;
    margin-bottom: 10px;
}

.Box ul li a{
    color: white;
    text-decoration: none;
}

.BottomText {
    background-color: var(--footer-bottom);
    margin-top: 5px;
    padding: 5px;
    color: white;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

