.Center {
    display: flex;
    justify-content: center;
}

.Store {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    justify-content: space-evenly;
    margin-bottom: var(--footer-height);
}