.Store_Products {
    grid-area: cards;
}

.Store {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-content: space-evenly;
    margin-bottom: var(--footer-height);
}

.Store_Carousel {
    grid-area: slider;
}

.Store_Sidebar{
    grid-area: side;
}